<!-- HTML -->
<html lang-"en">
    
    <!-- head of file -->
    <head>
        <title>Usage</title>
        <%= render 'nav' %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <!-- body -->
    <body>
        
        <div class="container">        
            
            <div style="background:transparent !important" class="jumbotron">
                <center><h1> <font size="13">How do I use Uberskate?</font> </h1>
                <p>
                    Uberskate is easy to use and will take you no time to learn! <br>
                    Follow these steps to become a pro..
                </p>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <a href="#create_account" class="thumbnail page-scroll">
                        <img src="/images/account_icon.png">
                    </a>
                    <center><h3>Create a Account</h3>
                </div>
                
                <div class="col-md-3">
                    <a href="#map" class="thumbnail page-scroll">
                        <img src="/images/pin_icon.png">
                    </a>
                    <center><h3>The Map</h3></center>
                </div>
                
                <div class="col-md-3">
                    <a href="#join_game" class="thumbnail page-scroll">
                        <img src="/images/join_game_icon.png">
                    </a>
                    <center><h3>Join a Game</h3></center>
                </div>
                
                <div class="col-md-3">
                    <a href="#create_game" class="thumbnail page-scroll">
                        <img src="/images/gears_icon.png">
                    </a>
                    <center><h3>Create a Game</h3></center>
                </div>
                
            </div>
        
        </div>
        
        
        <div id="create_account" class="container" style="padding-top:200px;">
            <center><h1>Create a Account</h1>
            
            <div class="row">
                <div class="col-lg-6">
                    <h4>Your going to need account</h4>
                    
                    <p>
                        To use Uberskate, an account is<br>
                        required.<br><br>
                        To create one:
                    </p>
                    
                    <p>
                        
                        Simply go to the top right corner, <br>
                        click create a account, and then fill <br>
                        in your acount details.
                    </p>
                    
                </div>
                
                <div class="col-lg-6">
                    <img src="/images/create_account_placeholder.png">
                </div>
            </div>
            
        </div>
        
        <div id="map" class="container" style="padding-top:200px;">
            <center><h1>Using the Map</h1>
            
            <div class="row">
                <div class="col-lg-6">
                    <h4>Your going to need account</h4>
                    
                    <p>
                        To use Uberskate, an account is<br>
                        required.<br><br>
                        To create one:
                    </p>
                    
                    <p>
                        
                        Simply go to the top right corner, <br>
                        click create a account, and then fill <br>
                        in your acount details.
                    </p>
                    
                </div>
                
                <div class="col-lg-6">
                    <img src="/images/create_account_placeholder.png">
                </div>
            </div>
            
        </div>
        
        <div id="join_game" class="container" style="padding-top:200px;">
            <center><h1>Joining a game</h1>
            
            <div class="row">
                <div class="col-lg-6">
                    <h4>Your going to need account</h4>
                    
                    <p>
                        To use Uberskate, an account is<br>
                        required.<br><br>
                        To create one:
                    </p>
                    
                    <p>
                        
                        Simply go to the top right corner, <br>
                        click create a account, and then fill <br>
                        in your acount details.
                    </p>
                    
                </div>
                
                <div class="col-lg-6">
                    <img src="/images/create_account_placeholder.png">
                </div>
            </div>
            
        </div>
        
        <div id="create_game" class="container" style="padding-top:200px; padding-bottom:300px">
            <center><h1>Creating a game</h1>
            
            <div class="row">
                <div class="col-lg-6">
                    <h4>Your going to need account</h4>
                    
                    <p>
                        To use Uberskate, an account is<br>
                        required.<br><br>
                        To create one:
                    </p>
                    
                    <p>
                        
                        Simply go to the top right corner, <br>
                        click create a account, and then fill <br>
                        in your acount details.
                    </p>
                    
                </div>
                
                <div class="col-lg-6">
                    <img src="/images/create_account_placeholder.png">
                </div>
            </div>
            
        </div>
        
    </body>
    
</html>